
front-end/Syntax-Analyser/src/lex.yy.c
front-end/Syntax-Analyser/src/y.tab.c
front-end/Syntax-Analyser/src/y.tab.h
back-end/Lexical-Analyser/src/.ANSI-C.l.swp
back-end/Lexical-Analyser/src/lex.yy.c
front-end/Intermediate-Code-Generator/src/structfe.dot
front-end/Intermediate-Code-Generator/src/structfe.output
back-end/Syntax-Analyser/src/lex.yy.c
front-end/test.c
front-end/Syntax-Tree/src/r.txt
front-end/Syntax-Tree/src/r.txt4
front-end/Syntax-Tree/src/structfe.dot
front-end/Syntax-Tree/src/structfe.output
front-end/Syntax-Tree/src/test.txt
front-end/Syntax-Tree/src/text.txt
front-end/Syntax-Tree/src/tree.o
front-end/Syntax-Tree/src/r.txt
front-end/Syntax-Tree/src/r.txt4
front-end/Syntax-Tree/src/structfe.dot
front-end/Syntax-Tree/src/structfe.output
front-end/Syntax-Tree/src/test.txt
front-end/Syntax-Tree/src/text.txt
front-end/Syntax-Tree/src/tree.o
front-end/Intermediate-Code-Generator/src/a.be
front-end/Intermediate-Code-Generator/src/err.txt
front-end/a.out
back-end/Syntax-Analyser/src/y.tab.c
back-end/Syntax-Analyser/src/y.tab.c
back-end/Syntax-Analyser/src/lex.yy.c
a.be
front-end/Intermediate-Code-Generator/src/strucitfe
